<h1>
  <%= Bank.find_by(fdic_number: params.fetch("thebankid")).bank_name %>
</h1>


<hr>

<div class="card    border-dark mb-3" >
  <div class="card-body">

<table class="table">
  <tr>

    <th>
      Bank branch address
    </th>

    <th>
      Nearest Chosen Location
    </th>


  </tr>

  <% @bank_branches.each do |bank_branch| %>
  <tr>
    
    <td>
      <%= bank_branch.bank_branch_address %>
    </td>

    <td>
      <%= bank_branch.location.location_name %>
    </td>

    
 
  </tr>
  <% end %>
</table>

</div>
</div>


<a href="/banks" >
  Back to list of banks
</a>