<h1>
  All of my chosen locations
</h1>

<a href="/locations/new">
  Add a new location
</a>

<hr>


<div class="card    border-dark mb-3" >
  <div class="card-body">
<table class="table">
  <tr>


    <th>
      Location name
    </th>

    <th>
      Location address
    </th>

    <th>
      Search Radius (km)
    </th>



    <th>
    </th>
  </tr>

  <% @locations.each do |location| %>
  <tr>


    <td>
      <%= location.location_name %>
    </td>

    <td>
      <%= location.display_address %>
    </td>

    <td>
      <%= location.searchradius %>
    </td>

    

    <td>
      <a href="/locations/<%= location.id  %>" ><button class = "btn btn-sm btn-dark">
        Show details
      </button></a>
    </td>
  </tr>
  <% end %>
</table>
</div>
</div>

<hr>


<a href="/banks" >
  <button class="btn btn-block btn-dark">Find banks with branches near all chosen locations</button>
</a>
