<!-- Validation failure messages -->
<% if @location.present? %>
  <% if @location.errors.any? %>
    <% @location.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<div class="mb-3">
<h1>
  Add a new location
</h1>
</div>


<div class="card  bg-secondary text-dark font-weight-bold border-dark mb-3" >
  <div class="card-body">
<form action="/create_location" method="post">
  <!-- Label and input for location_name -->
  <div class="form-group">
    <label for="location_name">
      Location name
    </label>

    <input type="text" id="location_name" name="location_name" class="form-control" value="<%= @location.try(:location_name) %>">
  </div>

  <!-- Label and input for location_address -->
  <div class="form-group">
    <label for="location_address">
      Location address
    </label>

    <input type="text" id="location_address" name="location_address" class="form-control" value="<%= @location.try(:display_address) %>">
  </div>

  <!-- Label and input for user_id -->
<input type="hidden" name="user_id" value="<%= current_user.id %>"> 
    <div class="form-group pb-3">
      <label for="inputradius">Search Radius</label>
      <select id="inputradius" name="inputradius" class="form-control ">
        <option selected="">Selected zipcode only</option>
        <option>1 km radius</option>
        <option>2 km radius</option>
      </select>
    </div>
    
    <hr>
    <div class="control-group pt-1">
  <button class="btn btn-block btn-dark mt-2">
    Create location
  </button>
  </div>
</form>

</div>
</div>


<a href="/locations">
  Go back
</a>
