
<h1>
  Welcome to the Bank Locator!
</h1 >



 <h4>Find banks with branches near all of the locations that are important to you!</h4>
 
 <hr>
 




<!-- Validation failure messages -->
<% if @location.present? %>
  <% if @location.errors.any? %>
    <% @location.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<div class="mb-3">

</div>
<div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">×</button>
                 First you will need to choose all of the locations to include in your search below
              </div>

<div class="card  bg-secondary text-dark font-weight-bold mb-3" >


  
  <div class="card-body">
      
<form action="/create_location" method="post">
  <!-- Label and input for location_name -->
  <div class="form-group">
    <label for="location_name">
      Location name
    </label>

    <input type="text" id="location_name" name="location_name" class="form-control" placeholder="Choose a name for your first location (ex: &quot;My House&quot)">
  </div>

  <!-- Label and input for location_address -->
  <div class="form-group">
    <label for="location_address">
      Location address
    </label>

    <input type="text" id="location_address" name="location_address" class="form-control" placeholder="Input the mailing location for your location">
  </div>

  <!-- Label and input for user_id -->
<input type="hidden" name="user_id" value="<%= current_user.id %>"> 
    <div class="form-group pb-3">
      <label for="inputradius">Search Radius</label>
      <select id="inputradius" name="inputradius" class="form-control ">
        <option selected="">Selected zipcode only</option>
        <option>1 km radius</option>
        <option>2 km radius</option>
      </select>
    </div>
    
    <hr>
    <div class="control-group pt-1">
  <button class="btn btn-block btn-dark mt-2">
    Create location
  </button>
  </div>
</form>

</div>
</div>


<a href="/locations">
  Go directly to location list
</a>
